{% extends "base.html" %}
{% block content %}
    <h1>Project Introduction</h1>
    <h3>Abstract Summary</h3>
    <pre>
        With the ongoing pandemic and many hospitals overcrowded, health and safety
    is a very relevant issue to everyone. In America, a person visits their doctor around 4
    times a year, and usually visits last around 30 minutes at a time. While this frequency of
    visits increases by need, it would be beneficial to both the doctor and the patient to get
    more consistent data on what the patient is doing weekly or even daily, as more
    information will better inform the medical decisions necessary for the patient. While
    more consistent data could also be gained from more frequent visits to your doctor, this
    causes an issue for both cost, especially if the patient does not have insurance, time, as
    well as the dangers of frequent outings, especially during this pandemic.
        Our product seeks to circumvent this issue, allowing for the patient to conduct a
    series of tests relevant to their health and wellbeing in the comfort of their home. This
    information would then be stored on a database, easily accessible through a mobile
    application at any time.This database would be accessible by the user's doctor, allowing
    them to more closely monitor the health of their patient and make recommendations
    from that information. Our product does not seek to replace visits to the doctor, but to
    act as an easy and safe additional source of medical information for any of our users..
        While this product is able to be used by anyone who wishes to monitor their
    health more closely, people with prior medical conditions are a specific demographic
    that the product is targeting. These individuals would benefit the most from more
    information about their health being given to their doctor, as they are at most risk.
    </pre>
    <hr>

    <h3>Relevance</h3>
    <pre>
        This health project is comparable to other at-home health testing products, such
    as the series of imaware screening tests or the Life Line Screening tests. Most of the
    comparable products are either much more specific, such as the imaware kit focussing
    on conditions such as diabetes or celiac disease, and are also kits, where you complete
    the tests and send back to get the results or they are of limited use. This project
    provides users with the option to view more general health diagnostics via smartphones
    through an IoT platform and share their real-time health information with their doctors
    whenever they wish.
        Our project is relevant because in the present day with the pandemic, hospitals
    are overcrowded and it is difficult for some individuals to feel safe going outside, let
    alone to go to their doctor. Our project targets this problem by providing individuals with
    their own medical resources at home to perform basic health tests such as COVID-19
    detection, heart rate sensor, and muscle movement detection, allowing for similar tests
    you would do at your routine doctor's appointment at your home. This reduces the need
    for in person exams, lowering the risks accompanied by frequent outings. This
    increases safety for the user, especially during times of high transmission of viral
    infections such as COVID-19 and the flu, as well as helping reduce the overcrowding of
    hospitals, which is a big issue today.
        With the expansion of telemedicine and home medical devices, medical
    technology that was once only available in a doctors office, is now more widely available
    to be used at home. Our product benefits in that it can give readings that generate an
    early warning to patients to follow up with their doctors to maintain their wellness and
    health.

    </pre>
{% endblock content %}