{% extends "base.html" %}

{% block content %}
    <h1>{{ user.username }}</h1>
    <hr>
    {% if user == current_user %}
    {% if user.admin == True %}
    <p>This is an admin account</p>

    {% endif %}
    {% if user.last_seen %}
    <p>Last seen on: {{ moment(user.last_seen).format('LLL') }}</p>
    {% endif %}

    <td><a href="{{ url_for('main.edit_profile') }}">Edit Your Profile</a></td>
    <td><a href="{{ url_for('main.newEMGtest', username=current_user.username) }}"> |    EMG Data</a></td>
    <td><a href="{{ url_for('main.test_chart', username=current_user.username)}}"> |    Test Charts</a></td>
</hr>
    <hr>
    <td><a href="{{ url_for('main.newtest', username=current_user.username) }}">Grab Pulse Data</a></td>
    <td><a href="{{ url_for('main.delete_all_tests', username=current_user.username) }}"> |    Delete All Tests</a></td>
   </hr> 
    {% for packet in packets %}
    <p>
        {% include '_packet.html' %}
    </p>
    {% endfor %}
    {% endif %}
{% endblock %}
