<table>
        <tr valign="top">
            <p> TEST - unique_id:{{packet.id}} </p> 
            <td>User:{{ packet.author.username}}    </td>
            <td> |   Test Data Ordered: {{packet.timestamp}}</td>
        
        <a href="{{ url_for('deletetest', username=current_user.username, packet_id=packet.id) }}">delete this test  </a>
        <a href="{{ url_for('open_packet', username=current_user.username, packet_id=packet.id) }}">   |  view entire contents</a>
        </tr>
        <td> test type:<br>{{ packet.test_type }} </td>
        
    </table>
