<table>
        <tr valign="top">
            <td>User:{{ packet.author.username}}</td>
            <td>{{packet.timestamp}}</td>
            <p><a href="{{ url_for('deletetest', username=current_user.username, packet_id=packet.id) }}">delete test {{packet.id}}</a></p>
            <p><a href="{{ url_for('open_packet', username=current_user.username, packet_id=packet.id) }}">view entire contents</a></p>

        </tr>
        
        <td>USER_ID:{{ packet.author.id}} </td>
           

        <td> test data:<br>{{ packet.body }} </td>
        
    </table>
