{% extends 'base.html' %}
{% block content %}
</div>
<div class="col-md-6">
  <div class="content-section">
    
    <p class='text-muted'>Additional information can be found here
      <ul class="list-group">
        <li class="list-group-item list-group-item-light"><a class="navbar-brand" href="{{ url_for('main.introduction') }}">Project Introduction</a></li>
        <li class="list-group-item list-group-item-light"><a class="navbar-brand" href="{{ url_for('main.progress') }}">Progress Update</a></li>
        <li class="list-group-item list-group-item-light"><a class="navbar-brand" href="{{ url_for('main.hardware') }}">Hardware Team Members</a></li>
        <li class="list-group-item list-group-item-light"><a class="navbar-brand" href="{{ url_for('main.software') }}">Software Team Members</a></li>
        <li class="list-group-item list-group-item-light"><a class="navbar-brand" href="https://github.com/noahstaveley/home-health">Project Repository</a></li>
        
            </li>
        <li class="list-group-item list-group-item-light"><a class="navbar-brand" href="mailto:noahstaveley@gmail.com?Subject=Hello%20-from-home-health-website"target="_top"> Email Us</a></li>

      </ul>
    </p>
  </div>
</div>
</div>
{% endblock %}