{% extends "base.html" %}
{% block content %}
    <h1>Hardware Team</h1>
    <p>Introduce the team work.</p>
    <hr>

    <h2>Shujian Lao</h2>
    <p>Introduction.</p>
    <hr>

    <h2>Christin Lin</h2>
    <body>
        <p></p>
        <img src="/static/images/cl.jpg" alt="" width="135" height="200">
     </body>
    <p>Hi! My name is Christin and I am an undergraduate Electrical & Computer Engineering student concentrating on 
    Embedded & Computing Systems. On my free time I like to workout, journal, watch movies, and play the guitar.</p>
    <hr>

    <h2>Will J Lee</h2>
    <p>Introduction.</p>
{% endblock content %}