{% extends "base.html" %}
{% block content %}
    <h1>Progress Update</h1>
    <p>This project has three phases</p>
    <hr>

    <h2>Phase 1</h2>
    <h4><span style="padding-left: 24px;">Hardware Team</h4>
    <p><span style="padding-left: 24px;">Hardware Phase 1 Deliverables:</p>
    <p> Set up the Raspberry Pi in order to integrate with the Software Team.
        Established communication between the EMG Sensor and STM Board.
        Established communication between the Finger Clip Sensor and STM Board.
        Established serial communication between the STM and Raspberry Pi.
        Transfer data through the sensor to the STM.
        </p>
    <h4><span style="padding-left: 24px;">Software Team</h4>
    <p><span style="padding-left: 24px;">Software Phase 1 Deliverables</p>
    <p><span style="padding-left: 24px;">Created the initial files and directories for our website. Saved various libraries we need for development in our python3 environment (see my_env folder in our repo).
    Started writing app routes in app.py and completed other tasks necessary to start building the backend functionality.
    Created user profiles and implemented the functionality of the sign up and login pages.
    This required the setup of our user database.
    This is a SQLite database, managed using SQLAlchemy.
    Our website is built with Python Flask, HTML, CSS, and some JS. </p>
 
    <p><span style="padding-left: 24px;">DataBase Research </p>
        <p><span style="padding-left: 24px;"> Basic Frontend Design and Implementation</p>
            <hr>

    <h2>Phase 2</h2>
    <h4><span style="padding-left: 24px;">Hardware Team</h4>
    <p><span style="padding-left: 24px;">Hardware Phase 2 Deliverables:</p>
    <p> </p>
    <h4><span style="padding-left: 24px;">Software Team</h4>
    <p><span style="padding-left: 24px;">Software Phase 2 Deliverables:</p>
    <hr>

{% endblock content %}