{% extends "base.html" %}
{% block content %}
    <h1>Progress Update</h1>
    <p>This project has three phases</p>
    <hr>

    <h2>Phase 1</h2>
    <h4><span style="padding-left: 24px;">Hardware Team</h4>
    <h6><span style="padding-left: 24px;">Hardware Phase 1 Deliverables:</h6>
    <p><span style="padding-left: 24px;">-- Communication between EMG Sensor and STM Board</p>
    <p><span style="padding-left: 24px;">-- Communication between Finger Clip Sensor and STM Board</p>
    <p><span style="padding-left: 24px;">-- Serial Communication between STM and Raspberry Pi</p>
    <p><span style="padding-left: 24px;">-- Transfer of data through the sensor to the STM</p>

    
    <h4><span style="padding-left: 24px;">Software Team</h4>
    <h6><span style="padding-left: 24px;">Software Phase 1 Deliverables:</h6>
    <p><span style="padding-left: 24px;">-- Create website skeleton</p>
    <p><span style="padding-left: 24px;">-- Create user profiles and sign up, login functionality</p>
    <p><span style="padding-left: 24px;">-- Retrieve example test data from raspberry pi and upload to database</p>
    <p><span style="padding-left: 24px;">-- Complete basic front end design for home page and user profile page</p>


        <a href="https://docs.google.com/document/d/e/2PACX-1vTFC9HejCenSXMOHI6J9fVkquPDumTuCEvcA51M7UmiGppLuZrY9li_ORtzMGZ4UsYJeZlVb6eWT5pQ/pub?embedded=true"> Phase 1 Specification</a>
            <hr>

    <h2>Phase 2</h2>
    <h4><span style="padding-left: 24px;">Hardware Team</h4>
    <h6><span style="padding-left: 24px;">Hardware Phase 2 Deliverables:</h6>
    <p><span style="padding-left: 24px;">-- Send sensor data from STM to Raspberry Pi</p>
    <p><span style="padding-left: 24px;">-- Process the EMG Detector data</p>
    <p><span style="padding-left: 24px;">-- Process the heart rate data and display it in BPM</p>
    <p><span style="padding-left: 24px;">-- Send data from Raspberry Pi to database</p>
    <p><span style="padding-left: 24px;">-- Display simple message on LCD</p>
    <p> </p>
    <h4><span style="padding-left: 24px;">Software Team</h4>
    <h6><span style="padding-left: 24px;">Software Phase 2 Deliverables:</h6>
    <p><span style="padding-left: 24px;">-- Update the User Database</p>
    <p><span style="padding-left: 24px;">-- ThingSpeak Database</p>
    <p><span style="padding-left: 24px;">-- Implementation of About pages and Home page</p>

        <a href="https://docs.google.com/document/d/e/2PACX-1vS2LPJAfByRwYgguuJiLjm9B2MopDsKx8H6ttLh9II-Ac2pVFirSejRAJmRBdXonPUsLggaJAvfLJlj/pub?embedded=true"> Phase 2 Specification</a>
    <hr>

{% endblock content %}