{% extends "base.html" %}
{% block content %}
    <h1>Progress Update</h1>
    <p>This project has three phases</p>
    <hr>

    <h2>Phase 1</h2>
    <h4><span style="padding-left: 24px;">Hardware Team</h4>
    <p><span style="padding-left: 24px;">In phase 1, the hardware team</p>
    <p> </p>
    <h4><span style="padding-left: 24px;">Software Team</h4>
    <p><span style="padding-left: 24px;">In phase 1, the software team</p>
    <hr>

    <h2>Phase 2</h2>
    <h4><span style="padding-left: 24px;">Hardware Team</h4>
    <p><span style="padding-left: 24px;">In phase 2, the hardware team</p>
    <p> </p>
    <h4><span style="padding-left: 24px;">Software Team</h4>
    <p><span style="padding-left: 24px;">In phase 2, the software team</p>
    <hr>

{% endblock content %}