{% extends "base.html" %}

{% block content %}
    <h1>User: {{ user.username }}</h1>
    <hr>
    {% if user == current_user %}
    {% if user.admin == True %}
    <p><a href="{{ url_for('/user/<username>') }}">This is an admin account</a></p>

    {% endif %}

    <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
    <p><a href="{{ url_for('newtest', username=current_user.username) }}">Grab Test Data</a></p>
    <p><a href="{{ url_for('delete_all_tests', username=current_user.username) }}">delete all tests</a></p>
    </table>
    <hr>
    {% for packet in packets %}
    <p>
        {% include '_packet.html' %}
    </p>
    {% endfor %}
    {% endif %}
{% endblock %}
